.big-font {
    font-family:Helvetica; color:#0f557a; font-size:48px !important;
}
.medium-font {
    font-family:Arial; color:000000; font-size:18px;
}
textarea {
    font-family:Arial; font-size: 25px;
    }
input {
    font-family:Arial; font-size: 25px;
}
div.stButton > button:first-child {
    background-color: #D3D3D3;
    height: auto;
    color: black;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 20px;
}

/* Hide the default "Drag and drop files here" text */
.st-emotion-cache-ysg2um.e1d2qte93 {
    display: none !important;
}

/* Add your custom text */
[data-testid="stFileUploader"] section::before {
    content: "Drag and drop files HERE or click 'Browse files'";
    display: block;
    font-size: 17px;
    color: #666668;
    text-align: center;
    padding: 10px;
}
